{% extends "reading_assist/base.html" %}

{% block title %}{{ list.title }}{% endblock %}

{% block navbar %}
    <li><a href="{% url 'reading:index' %}">Index</a></li>
{% endblock %}

{% block content %}
    <h2 class="page-header">Vocab list: {{ list.title }}</h2>

    {% for word in list.words.all %}
        <p>
            <b>{{ forloop.counter }}. {{ word }}</b> -
            {% if word.definition1 %}{{ word.definition1 }}; {% endif %}
            {% if word.definition2 %}{{ word.definition2 }}; {% endif %}
            {% if word.definition3 %}{{ word.definition3 }}{% endif %}
        </p>
    {% endfor %}
{% endblock %}