{% extends "reading_assist/base.html" %}

{% block title %}{{ list.title }}{% endblock %}

{% block navbar %}
    <li><a href="{% url 'reading:index' %}">Index</a></li>
{% endblock %}

{% block content %}
    <h2 class="page-header">Vocab list: {{ list.title }}</h2>

    <ol>
    {% for word in list.words.all %}
        <li style="margin-top: 10px;">
            <b>{{ word }}</b> -
            {% if word.definition1 %}{{ word.definition1 }} {% endif %}
            {% if word.definition2 %}<br>{{ word.definition2 }} {% endif %}
            {% if word.definition3 %}<br>{{ word.definition3 }}{% endif %}
        </li>
    {% endfor %}
    </ol>
{% endblock %}